@*<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>*@

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(ProjetoDeExtensao.BlazorApp.Client.Pages.MainPage)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Página não encontrada</PageTitle>
        <LayoutView Layout="@typeof(ProjetoDeExtensao.BlazorApp.Client.Pages.MainPage)">
            <p role="alert">Desculpe, não há nada neste endereço.</p>
        </LayoutView>
    </NotFound>
</Router>
